header nav{
    padding: 20px;
}

header h1{
    text-align: center;
}

#canvasDiv{
    margin: auto;
    width: min-content;
}

footer{
    width: 100%;
    height: 60px;
    background: #000;
    color: #fff;
    text-align: center;
    margin-top: 100px;
    padding-top: 20px;
}

