header nav{
    padding: 20px;
}

header h1{
    text-align: center;
}

#canvasDiv{
    margin: auto;
    width: min-content;
}

footer{
    width: 100%;
    height: 60px;
    background: #000;
    color: #fff;
    text-align: center;
    margin-top: 100px;
    padding-top: 20px;
}

dialog {
	background-color: white;
	border: 1px solid black;
	position: absolute;
	margin: auto;
    display: none;
    padding: 0;
}

dialog::backdrop {
	background-color: rgba(58, 49, 49, 0.5) ;
} 

dialog[open] {
	display: block;
}

.modal-dialog {
    margin: 0;
}

p {
    margin: 0;
}

label {
    padding-right: 20px;
}
