html{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    flex-flow: column;
    height: 100vh;
    width: 100vw;
}

main{
    flex: 1;
    padding: 20px;

}


header nav{
    padding: 20px;
}

header h1{
    text-align: center;
}

#canvasDiv{
    height: 100%;
    overflow: hidden;
}

footer{
    flex: 0 1 60px;
    background: #000;
    color: #fff;
    text-align: center;
    padding-top: 30px;
    margin-top: 30px;
}

dialog {
	background-color: white;
	border: 1px solid black;
	position: absolute;
	margin: auto;
    display: none;
    padding: 0;
}

dialog::backdrop {
	background-color: rgba(58, 49, 49, 0.5) ;
} 

dialog[open] {
	display: block;
}

.modal-dialog {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    text-align: center;

}


p {
    margin: 0;
}

label {
    padding-right: 20px;
}

.colHeader {
    margin-bottom: 10px;
    font-weight: bold;
    align-self: flex-end;
}

.champName {
    font-size: 20px;
}